<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Talbish</title>
    </head>

    <body>
        <h1>Talbish v1.0</h1>
        <a href="https://github.com/TheCoApp/Talbish">Github - Talbish</a><br />
        <strong>{{ boldmessage }}</strong><br />
         <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
        <img src="{% static "talbish.jpg" %}" alt="Picture of Talbish" /> <!-- New line -->
    </body>

</html>