<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="boilerplate.css" />
	<link rel="stylesheet" href="reflow.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>  
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	
<script>
$(document).on("pagecreate","#main",function(){
  $("div.headdiv").on("swipeleft",function(){
    alert("You swiped left!");
	});                       
	 $("div.headdiv").on("swiperight",function(){
    alert("You swiped right!")
	 });
});
</script>
</head>
 <body onload="initialize()"> 
<div data-role="page" id="main">
	  <div data-role="content">
    	<div id="primaryContainer" >
            <div id='background' >

  <div id='head' class='clearfix'> 
  <div class="headdiv">
  <img src="images/head1.png" id='headimage' alt="headimage" width="100%" height="100%"> 
  </div>
  </div>
			</div>
		</div>
	  </div>
</div>
</body>
</html>
