/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    min-height: 400;
	max-height: 700;
	min-width: 300px;
	max-width: 800px;
    width: 95%;
}

#background {
	float: center;
	height: inherit;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	width: auto;
	background-color: rgb(57, 14, 14);
	background-image: url('images/class.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#weather {
	float: left;
	height: 115px;
	margin-left: 0.25%;
	margin-top: auto;
	clear: none;
	width: 99.75%;
	border-style: groove;
	box-shadow: 5px 5px #003;
}
#head {
    float: center;
    height: 80px;
    margin-left: auto;
    margin-top: 125px;
    clear: none;
    width: 82.75%;
    margin-right: auto;
	border-style: solid;
	border-color: #006;
}

#body {
	float: inherit;
	height: 170px;
	margin-left: auto;
	margin-top:auto;
	clear: both;
	width: 82.75%;
	margin-right: auto;
	border-style: solid;
	border-color: #006;
	alignment-adjust: hanging
}

#legs {
    float: none;
    height: 170px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 82.75%;
    margin-right: auto;
	border-style: solid;
	border-color: #006;

}

#shoes {
    float: none;
    height: 50px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 82.75%;
    overflow: auto;
    margin-right: auto;
	border-style: solid;
	border-color: #006;
}
#kar_li {
	float: left;
	height: 80px;
	margin-left: 0%;
	margin-top: 20px;
	clear: both;
	width: 99.75%;
	border-style: solid;
	border-color: #006;
}

#profile {
	float: left;
	height: 48px;
	margin-left: -4.534743202416918%;
	margin-top: -11px;
	clear: both;
	width: 38.97583081570997%;
	background-color: rgb(255, 255, 0);
	visibility: hidden;	
}
